.nav-bar {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    height: 6vh;
    width: auto;
    background-color: rgba(0, 0, 244, 0.069);
    top: 0%;
    min-height: 50px;
}

.main-title {
    margin-left: 10px;
    align-items: center;
    white-space: nowrap;
    align-self: center;
}

.form-change-button{
    height: 100%;
    width: 15%;
    align-self: center;
    background: green;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-size: 0.7rem;
    color: white;
}

.form-change-icon{
    height: 60px;
    width: 60px;
    align-self: center;
    cursor: pointer;
    z-index: 20;
    margin-top: 30px;
    margin-right: 8px;
}


@media only screen and (max-width: 500px) {

    .form-change-icon{
        height: 50px;
        width: 50px;
        margin-top: 0px;
    }
}


@media only screen and (max-width: 280px) {
   

     .main-title {
        white-space: wrap;
        padding: 5px;
     
    }

    .nav-bar {
        font-size: 0.6rem;
    }

    .form-change-button{
        font-size: 0.6rem;
        /* transform: rotate(90deg); */
    }
}

@media only screen and (max-height: 500px) {
    @media only screen and (min-width: 330px) {

    .nav-bar{
        flex-direction: column-reverse;
        height: 100%;
        align-items: center;
        justify-content: center;
        max-width: 63px;
        min-width: 63px;
    }
    .main-title{
        /* text-orientation: upright;
        writing-mode: vertical-lr; */
        font-size: 1.2rem;
        margin: auto;
        align-items: center;
        justify-content: center;
        transform: rotate(-90deg);
    }

    .form-change-button{
        height: 10%;
        width: 100%;
    }

    .form-change-icon{
        height: 50px;
        width: 50px;
        margin-top: 5px;
        margin-left: 5px;
    }
}
}

@media only screen and (max-width: 256px){
    @media screen and (max-height: 230px){
        .main-title{
            font-size: 0.6rem;
        }

        .form-change-icon{
            height: 30px;
            width: 30px;
            margin-top: 5px;
            margin-left: 5px;
        }
    }
}

@media only screen and (max-height: 200px){
    .nav-bar{
        min-height:32px;
    }
}





/* @media only screen and (max-width: 860px) {
    .main-title{
        overflow: hidden;
        white-space: nowrap;
        margin: auto;
      
    }
} */

/* @media only screen and (max-width: 453px) {
    .nav-bar {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        width: 100vw;
        min-height: auto;
    }

     

    .main-title {
        margin: auto;
    }
} */