.form-layout {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2%;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.form-button {
    height: 100%;
    width: 50%;
    
}

.textbox-areas {
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 3%;
}

.question-text {
    /* height: 40%;  */
    flex-grow: 1;
    width: 100%;
    border-radius: 5px 5px 10px 10px;
}

.answer-text {
    flex-grow: 2;
    border-radius: 10px 10px 5px 5px;
    overflow-y: auto;
    position: relative;
    width: 100%;
    background-color: rgba(115, 118, 168, 0.714)!important;
    cursor: default;
}

.answer-text::placeholder{
    color: white;
}

.maximised{
    height: 70vh;
    width: 99vw;
    margin:auto;
    padding-right: 10px;
    padding-bottom: 50%;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 15;
    background-color:  rgba(115, 118, 168, 0.94)!important;
    font-size: 1rem!important;
    overflow-y: scroll;
    cursor: default;
}
 /* rgba(0, 9, 175, 0.889)!important; */

.maximise-answer-button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.5px;
    padding-right: 5px;
    right: 8px;
    top: 6px;
    z-index: 16;
    border-radius: 20%;
    border: 2px solid rgba(30, 38, 177, 0.377);
    background-color:  rgba(115, 118, 168, 0.225);
    background-image: url(../assets/maximise.png)!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    color: white;
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    user-select: none;
}

.maximised-max-button{
    position: fixed;
}



@media only screen and (max-width: 453px) {

    .form-layout {
        justify-content: start;
    }

    .form-buttons {
        flex-direction: row;
        width: 90%;
        align-items: flex-start;
        top: 16%;
        margin-top: 1%;
        height:10%;
        gap: 5px;
        margin-bottom: 1%;
    }

    .form-button {
        height: 80%;
    }

    .textbox-areas {
        width: 86%;
        height: 60%;
        gap: 1px;
    }

     .answer-text {
        /* height: 75%; */
        width: 97%;
        flex-grow: 2;
    }

    .question-text {
        /* height: 22%; */
        width: 97%;
        flex-grow: 1;
    }

   
}

@media only screen and (max-height: 500px) {

    
    /* .form-buttons {
        margin-bottom: 5%;
        height: 30%;
        width: 50%;
    } */

    .textbox-areas{
        margin: 0%;
        margin-top: 2%;
        margin-bottom: 1%;
    }
}

