.input-container {
    width: 60%;
    margin: 5% auto auto auto;
    height: 70vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 200px;
    border-radius: 20px;
    border: 2px solid white;
    color:white;
}

.form-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.textbox-areas {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question-text {
    height: 40%; 
    margin: 3%;
    border-radius: 10px;
}

.answer-text {
    height: 40%; 
    margin: 3%;
    border-radius: 10px;
    overflow-y: auto;
}

.form-button {
    height: 10%;
    width: 50%;
}

.button-style {
    border: 2px solid white;
    border-radius: 5px;
    background-color: blue;
    color: white;
    box-shadow: 5px 5px 1px 0 rgba(0,0,0,0.2);
    min-width: 48px;
}

@media only screen and (max-width: 453px) {
    .input-container{
        width: 99%;
        height:100%;
        margin-top: 100px;
    }

    /* .form-layout {
        margin-top: 0%;
        height: 100%;
    } */

    .form-buttons {
        position: absolute;
        flex-direction: row;
        width: 90%;
        align-items: flex-start;
        top: 16%;
        height:10%;
    }

    .form-button {
        height: 50%;
    }

    /* .main-container {
        overflow-y:auto;
    } */

    .nav-bar {
        position: fixed;
    }

    .textbox-areas {
        width: 98%;
        height: 100%;
        margin-bottom: 10%;
        justify-content: center;
    }

    .question-text {
        height: 22%;
    }

    .answer-text {
        height: 75%;
    }
}