.email-container {
    position: absolute;
    width: 110%;
    height: 100%;
    background-image: url(../assets/background_feather.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* min-width: 290px; */
    border-radius: 20px;
    border: 2px solid  rgb(0, 0, 244);
    color: rgb(0, 0, 244);
    z-index: 101;
}

.email-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    gap: 15px;
}

.email-form-item {
    display: flex;  
}

.email-label {
    text-wrap: nowrap;
    width: 20%;
    padding-left: 5%;
}

.email-input {
    font-size: 1.2rem;
    width: 80%;
    align-self: flex-end;
}

.email-textarea {
    width: 100%;
    height: 70%;
    align-self: flex-end;
}

.email-form-buttons {
    width: 70%;
    height: 15%;
    padding: 10px;
    align-self: center;
    display: flex;
    gap: 30px;
}

.email-form-button {
    width: 30%;
}

.email-form-close {
    /* padding: 10px; */
    margin-bottom: 20px;
}

@media only screen and (max-width: 453px) {
    .email-form-buttons {
       
        gap: 10px;
    }

    .email-textarea {
        width: 98%;
    }
}

@media only screen and (max-width: 360px) {
     .email-container{
       
        
        font-size: 0.8rem; 
        gap: 5px;
       
    }

    .email-input{
        font-size: 0.8rem;
    }
}


@media only screen and (max-height: 450px) {
    .email-container{
       
        margin: auto;
        font-size: 0.8rem; 
        gap: 5px;
       
    }

    .email-input{
        font-size: 0.8rem;
    }
}

@media only screen and (max-height: 340px) {
    .email-container {
        flex-direction: row;
        width: 130%;
    }

    .email-form-close {
    
        margin-right: 10px;
    }
}