.email-container {
    position: fixed;
    width: 50%;
    margin-top: 0px;
    height: 60vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 200px;
    border-radius: 20px;
    border: 2px solid white;
    color:white;
}

.email-form {
    display: flex;
    flex-direction: column;
}