.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.textarea {
    resize: none;
    background-color: rgba(0, 9, 175, 0.714)!important;
    color: white;
     font-family: "Ubuntu", sans-serif;
     font-size: 0.9rem;
}

