.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.textarea {
    resize: none;
    background-color: rgba(0, 9, 175, 0.714);
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.9rem;
}

.button-style {
    border: 2px solid rgb(0, 0, 244);
    border-radius: 10px;
    background-color:  rgba(0, 9, 175, 0.714);
    color: white;
    /* box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.391); */
    min-width: 48px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    min-height: 23px;
    cursor: pointer;
    user-select: none;
}

.button-style:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 2px #7ba701;
    /* box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.391); */
    transition: 0.7s;
}

.loading-container {
    z-index: 102;
    position: fixed;
    /* display: grid;
    place-items: center;
    min-height: 100vh; */
    /* top: 30%;
    margin-left: 20%; */

}

