.image-form-layout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.image-prompt-textbox{
    height: 50%;
    width: 70%;
    border-radius: 10px;
}

.image-buttons{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container{
    position: fixed;
    margin: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.2);
}

.returned-image{
    height: auto;
    width: 100%;
    margin: 0 auto;
    object-fit: contain;
    max-width: 100%;
    z-index: 1000;
}